<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GearSwapUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <GearSwapUtility.Properties.Settings>
            <setting name="WindowerDirectory" serializeAs="String">
                <value>C:\Program Files (x86)\Windower4</value>
            </setting>
            <setting name="IconsDirectory" serializeAs="String">
                <value>C:\Program Files (x86)\Windower4\addons\equipviewerv2\icons\32</value>
            </setting>
        </GearSwapUtility.Properties.Settings>
    </userSettings>
</configuration>